body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: rgb(190, 236, 251);

    h1 {
        margin-bottom: 30px;
    
    }

}
#container {
    width: 200px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.light {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
   
  
}

.red {
    background-color: rgb(255, 182, 182);
}

.yellow {
    background-color: rgb(249, 249, 189);
}

.green {
    background-color: rgb(180, 237, 180);
}
.red.active {
    background-color: red;
}

.yellow.active {
    background-color: rgb(255, 248, 40);
}

.green.active {
    background-color: rgb(13, 200, 13);
}